@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: black;
}
body{
        background-color: rgb(240, 239, 237);
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin: 0;
}
.box{
    width: 500px;
    height: 550px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    
    
    box-shadow: 0px 0px 12px 4px rgba(0,0, 0, 0.1);
}
.caixa{
    display: flex;
    flex-direction: row;
}
.tit{
    text-align: center;
}
.inputs{
    margin-left: 40px;
}
.subtit{
    margin-top: 20px;
}
input[type="text"], input[type="password"]{
    border-radius: 10px;
    width: 240px;
    border: 1px solid gray;
    box-shadow: 0px 0px 12px 4px rgba(0,0, 0, 0.1);
    text-align: center;
    height: 25px;
    outline: none;
}
#erro{
    color: red;
    display: none;
    font-size: 12px;
}
#erro2{
    color: red;
    display: none;
    font-size: 12px;
}
#erro3{
    color: red;
    display: none;
    font-size: 12px;
}
#olho{
    margin-left: -35px;
    background-color: white;
    border: none;
    
}
#conf{
    background-color: white;
    border: none;
    user-select: none;
}
#olho2{
    margin-left: -35px;
    background-color: white;
    border: none;
    
}
.metodos{
    margin-top: 30px;
    margin-left: 40px;
    
}
.options{
    margin-top: 20px;
    margin-left: 35px;
    
    flex-direction: row;
}
.opcao{
    width: 40px;
    height: 40px;
    border: 10px;
    margin-left: 30px;
    

}
.btn-logar{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: white;
    border: none;
    cursor: pointer;
    margin-left: 30px;
}
.btn-criar{
    background-color: black;
    color: white;
    width: 300px;
    height: 50px;
    border:none;
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;
    margin-top: 40px;
    margin-left: 90px;
    font-size: 25px;
}
button:hover{
    transform: scale(1.05);
}
#comp{
    margin-left: 40px;
    font-size: 100px;
    margin-top: 100px;
}
@media screen and (min-width:400px) and (max-width:600px) {
    .box{
        
        width: 360px;
        
    }
    #comp{
        display: none;
    }
    input[type="text"],input[type="password"]{
        width: 270px;
        font-size: 17px;
    }
    .options{
        margin-left: -20px;
    }
    .btn-criar{
        margin-left: 30px;
    }
}
@media screen and (min-width:360px) and (max-width:399px) {
    .box{
        width: 340px;
    }
    .inputs{
        margin-left: 10px;
    }
    #comp{
        display: none;
    }
    .metodos{
        text-align: center;

    }
    .options{
        margin-left: -100px;
    }
    .btn-criar{
        margin-left: 20px;
    }
}
@media screen and (min-width:300px) and (max-width:359px) {
    .box{
        width: 290px;
    }
    .inputs{
        margin-left: 10px;
    }
    #comp{
        display: none;
    }
    .options{
        margin-left: -60px;
    }
    .btn-criar{
        margin-left: 40px;
        width: 210px;
    }
}
@media screen and (min-width:1901px) and (max-width:3900px) {
    .box{
        width: 700px;
    }
    input[type="text"],input[type="password"]{
        width: 400px;
        font-size: 25px;
        height: 30px;
    }
    #olho{
        font-size: 20px;
        margin-left: -50px;
    }
    #olho2{
       font-size: 20px;
        margin-left: -50px; 
    }

    .btn-logar{
        margin-left: 90px;
    }
    .btn-criar{
        margin-left: 200px;
    }
}
