@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
body{
        background-color: rgb(240, 239, 237);

}
.box{
    background-color: white;
    width: 500px;
    height: 480px;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 4px rgba(0,0, 0, 0.1);
    margin-left: 440px;
    margin-top: 70px;
    border: 1px solid gray;
    
    
}
.tit{
    text-align: center;
    margin-top: 20px;
}
.caixa{
    display: flex;
    flex-direction: row;
    margin-left:40px;
    
}
.inputs{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    
}
input[type="text"],
input[type="password"]{
    outline: none;
    width: 250px;
    height: 25px;
    border-radius: 10px;
    text-align: center;
    color: black;
    background-color: white;
    box-shadow: 0px 0px 12px 4px rgba(0,0, 0, 0.1);
    border: 1px solid gray;
    margin-top: 15px;
}


.lembrar{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    user-select: none;
    transform: translate(-50%, -50%);
    margin-left: 90px;
}
input[type="checkbox"]{
    position: relative;
    width: 45px;
    height: 24px;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 20px;
    background-color: #c6c6c6;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0 , 0.2) inset;
}
input:checked[type="checkbox"]{
    background: #17c01783;

}
input[type="checkbox"]::before{
    content: '';
    width: 22px;
    height: 22px;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    transform: scale(1.2);
    border-radius: 50%;
    box-shadow: 0px 2px 5px rgba(0, 0 , 0, 0.2);
    transition: .5s;
    cursor: pointer;
}
input:checked[type="checkbox"]::before{
    left: 22px;
}
#continuar{
    margin-left: 20px;
}
#senha-tit{
    margin-top: 30px;
}
.pt2{
    margin-left: 40px;
    margin-top: 10px;

}
.merchan{
    margin-top: 30px;
    padding-left: 36px;
    font-size: 100px;
}
.nome{
    font-size: 60px;
    margin-left: -15px;
}
.criar{
    text-decoration: none;
    color: dodgerblue;
}
.entrar{
    background-color: black;
    color: white;
    width: 300px;
    height: 50px;
    border:none;
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;
    margin-top: 30px;
    margin-left: 60px;
    font-size: 25px;
}
.entrar:hover{
    transform: scale(1.05);
}
.mostrar{
    background-color: white;
    border: none;
    cursor: pointer;
    margin-left: -30px;
}
/* IMPLEMENTANDO RESPONSIVIDADE */
@media screen and (min-width:400px) and (max-width:600px) {
    .box{
        width: 400px;
        margin-left:15px;
        height: 550px;
        margin-top: 90px;
        
    }
    .caixa{
        margin-left: 10px;
    }
    .merchan{
        display: none;
    }
    .subtit{
        font-size: 25px;
    }
    #senha-tit{
        font-size: 25px;
    }
    .inputs{
        margin-left: 20px;
    }
    input[type="text"],
    input[type="password"]{
        width: 300px;
        height: 40px;
        font-size: 20px;
    }
    #eye{
        position: absolute;
        margin-top: -48px;
        margin-left: 300px;
        font-size: 20px;
    }
    .lembrar{
        margin-left: 100px;
    }
    .criar{
        margin-top: 3123px;
    }
    .entrar{
        margin-left: 10px;
    }
    
}
@media screen and (min-width:300px) and (max-width:399px){
    .box{
        margin-left: 8px;
        width: 360px;
        height: 550px;
        margin-top: 90px;
    }
    .caixa{
        margin-left: 10px;
    }
    .merchan{
        display: none;
    }
    .subtit{
        font-size: 25px;
    }
    #senha-tit{
        font-size: 25px;
    }
    .inputs{
        margin-left: 20px;
    }
    input[type="text"],
    input[type="password"]{
        width: 300px;
        height: 40px;
        font-size: 20px;
    }
    #eye{
        position: absolute;
        margin-top: -48px;
        margin-left: 300px;
        font-size: 20px;
    }
    .lembrar{
        margin-left: 100px;
    }
    .criar{
        margin-top: 3123px;
    }
    .entrar{
        margin-left: 10px;
    }
    
}
@media screen and (min-width:601px) and (max-width:999px) {
    .box{
        width: 700px;
        margin-left: 70px;
        margin-top: 250px;
        height: 700px;
    }
    .tit{
        font-size: 60px;
    }
    .subtit{
        font-size: 40px;
    }
    input[type="text"],
    input[type="password"]{
        width: 450px;
        height: 40px;
        font-size: 20px;
    }
    #eye{
        position: absolute;
        margin-top: -52px;
        margin-left: 440px;
        font-size: 25px;
    }
    #senha-tit{
        font-size: 40px;
    }
    .lembrar{
        margin-left: 150px;
        font-size: 20px;
    }
    input[type="checkbox"]{
    position: relative;
    width: 60px;
    height: 24px;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 20px;
    background-color: #c6c6c6;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0 , 0.2) inset;
}
input:checked[type="checkbox"]::before{
    left: 35px;
}
.criar{
    font-size: 25px;
}
.entrar{
    width: 500px;
    font-size: 40px;
    height: 60px;
    margin-top: 50px;
}
}
